{% extends 'base.html.twig'%}

{% block body %}
  <h1>Test</h1>
  <main class="container">
    {% block main %}
    {% endblock %}
  </main>


  <footer class="jumbotron jumbotron-fluid mt-5 mb-0 bg-secondary text-white text-center">
    <section class="container">
      <p>Une application développée par les frères rape-tout, tous droits réservés.</p>
    </section>
  </footer>
{% endblock %}
